
App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.Cat{
  width: 100%;
  height: 100vh;
  background-color: none;

}
.app-header {
  background-color: #e2d7c5;
  border-bottom: 2px solid #735621;
  padding: 1rem 2rem;
  text-align: center;
}

.logo-text {
  color: #e53935;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  max-width: 900px;
  margin: 20px auto;
}

/* --- Category Card Styles --- */
.category-card {
  aspect-ratio: 1 / 1.5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-image {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 0.5rem; 
}

.category-title {
  font-size: 1.1rem;
  margin: 0;
  text-decoration: none;
}

/* CategoryPage */

.category-page {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.category-page h1 {
  font-size: 2.5rem;
  color: #333;
}

.questions-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: right; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
}

.question-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.answer-text {
  color: #007bff;
}

.difficulty {
  position: absolute;
  top: 10px;
  left: -1px;
  background-color: #ccc;
  color: white;
  padding: 5px 15px;
  border-radius: 0 15px 15px 0;
  font-size: 0.8rem;
}

.difficulty-سهل { background-color: #28a745; }
.difficulty-متوسط { background-color: #ffc107; color: #333; }
.difficulty-صعب { background-color: #dc3545; }

.back-link {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #007bff;
}




